@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    max-height: 90vh;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.02);
}

.hidden {
    display: none;
}

button {
    padding: 12px 25px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    background-color: #ff6f61;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 1em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #e55b52;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

button#submit4 {
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-color: #ff6f61;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 1em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button#submit4:hover {
    background-color: #e55b52;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


input {
    padding: 12px;
    margin: 10px 0;
    width: calc(100% - 24px);
    border: 2px solid #ff6f61;
    border-radius: 25px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 1em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

input:focus {
    border-color: #e55b52;
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.question {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#final-message {
    font-size: 1.2em;
    font-weight: bold;
    color: #ff6f61;
    margin-top: 20px;
}

.poem {
    text-align: left;
    padding: 20px;
    overflow: auto;
    line-height: 1.6;
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.poem:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.poem strong {
    font-weight: bold;
    color: #ff6f61;
}

.letter-input {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid #ff6f61;
    padding: 5px;
    text-align: center;
    font-size: 16px; 
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

.error-message {
    color: red;
    font-size: 0.8em;
    display: none;
}

input.invalid {
    border-color: red;
}

@media screen and (min-width: 768px) {
    .poem {
        width: calc(50% - 20px);
        height: 800px;
        display: inline-block;
        vertical-align: top;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px 20px;
    }

    input {
        font-size: 14px; /* Ajusta o tamanho da fonte em telas menores */
        padding: 10px;
    }

    .poem {
        width: 100%;
        display: block;
    }

    .letter-input {
        width: 35px; /* Ajustado para telas menores */
        font-size: 14px; /* Ajusta o tamanho da fonte para o input */
    }

    button {
        font-size: 0.9em; /* Ajusta o tamanho do botão */
        padding: 10px 18px;
    }

}

@media screen and (max-width: 500px) {
    .container {
        width: 95%;
    }

    input {
        font-size: 12px; /* Ajusta o tamanho da fonte para dispositivos ainda menores */
        padding: 8px;
    }

    .letter-input {
        width: 30px; /* Ajustado para telas menores */
        font-size: 12px; /* Ajusta o tamanho da fonte para o input */
    }

    button {
        font-size: 0.8em; /* Ajusta o tamanho do botão */
        padding: 8px 15px;
    }
}

@media screen and (max-width: 428px) {
    .container {
        width: 100%;
        padding: 5px 10px;
    }

    input {
        font-size: 12px; /* Ajusta o tamanho da fonte para dispositivos muito pequenos */
        padding: 5px;
    }

    .letter-input {
        width: 25px; /* Ajustado para telas muito pequenas */
        font-size: 16px; /* Ajusta o tamanho da fonte para o input */
    }

    button {
        font-size: 0.7em; /* Ajusta o tamanho do botão */
        padding: 10px 50px;
        margin-bottom: 20px;
    }
}
